@model NetCommunity.ViewModels.UserMessagesViewModel
@using NetCommunity.ViewModels;
@{
    ViewBag.Title = "Index";
}


<h2>Users</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().NumberOfMessages)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.Messages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMessages)
        </td>
        <td>
            @Html.ActionLink("More", "UserMessages", new { user = item.Sender }) 
        </td>
</tr>
}

</table>

<p>@Html.DisplayNameFor(model => model.TotalMessages): @Html.DisplayFor(model => model.TotalMessages), @Html.DisplayNameFor(model => model.ReadMessages): @Html.DisplayFor(model => model.ReadMessages), @Html.DisplayNameFor(model => model.DeletedMessages): @Html.DisplayFor(model => model.DeletedMessages)</p>
