@model IEnumerable<NetCommunity.ViewModels.UserMessagesViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMessages)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMessages)
        </td>
        <td>
            @Html.ActionLink("More", "UserMessages", new { user = item.Sender }) 
        </td>
</tr>
}

</table>
