@model NetCommunity.ViewModels.DisplayMessageViewModel
               

@{
    ViewBag.Title = "Read";
}



<div>
    <h5><strong>Message from:</strong> @Html.DisplayFor(model => model.Sender)<br>
    <strong>Title:</strong> @Html.DisplayFor(model => model.Title)<br>
    <strong>Arrived:</strong> @Html.DisplayFor(model => model.Time)
    </h5>
    <!--
      <hr />
  
    <dl class="dl-horizontal">
        -->
    
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
