@model NetCommunity.ViewModels.DisplayMessageViewModel
               

@{
    ViewBag.Title = "Read";
}



<div>


    
    <h2><strong>Message from:</strong> @Html.DisplayFor(model => model.Sender)<br>    </h2>
    <h3><strong>Title:</strong> @Html.DisplayFor(model => model.Title)<br></h3>
    <h4><strong>Arrived:</strong> @Html.DisplayFor(model => model.Time)</h4>

      <hr />
  
    <div class="dl-horizontal">

            @Html.DisplayFor(model => model.Content)

    </div>


</div>
<br/>
    <p>
       @Html.ActionLink("Back", "UserMessages", new { user = Model.Sender }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "UserMessages", new { user = Model.Sender }, new { @class = "btn btn-danger" })
    </p>

