@model NetCommunity.ViewModels.DisplayMessageViewModel
               

@{
    ViewBag.Title = "Read";
}



<div>
    <h5><strong>Message from:</strong> @Html.DisplayFor(model => model.Sender)<br>
    <strong>Title:</strong> @Html.DisplayFor(model => model.Title)<br>
    <strong>Arrived:</strong> @Html.DisplayFor(model => model.Time)
    </h5>
      <hr />
  
    <div class="dl-horizontal">

        <h3> @Html.DisplayNameFor(model => model.Content)</h3>
        <br />
            @Html.DisplayFor(model => model.Content)


    </div>
</div>
<br />
<br />
<p>
    @Html.ActionLink("Back to User Messages", "UserMessages", new { user = Model.Sender })
</p>
