@model NetCommunity.ViewModels.ShowUserMessagesViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Messages from @Html.DisplayFor(model => model.Sender)</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().IsRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Time)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model.Messages) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
           @Html.ActionLink("Read", "Read", new { id = item.Id }, new { @class = "btn btn-default" })

        </td>
</tr>
}

</table>

<p>@Html.DisplayNameFor(model => model.TotalMessages): @Html.DisplayFor(model => model.TotalMessages), @Html.DisplayNameFor(model => model.ReadMessages): @Html.DisplayFor(model => model.ReadMessages), @Html.DisplayNameFor(model => model.DeletedMessages): @Html.DisplayFor(model => model.DeletedMessages)</p>

<p>
     @Html.ActionLink("Back to Users", "Index", new { @class = "btn btn-default" })
</p>
